@model IndexPageModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    
    <p>Use this page to get the number of thefts reported for the given city.
        Select a city and press Go to query.</p>

    @using (Html.BeginForm(FormMethod.Get))
    {
        @Html.DropDownList(
            "location",
            ViewBag.ServiceLocations as IEnumerable<SelectListItem>)

        <input type="submit" value="Go" />
    }
    
    @if (Model != null && Model.TheftCount.HasValue)
    {
        <div>
            There were <span id="result">@Model.TheftCount</span> incidents 
            of theft reported in @Model.SelectedLocation.
        </div>
    }

</div>
