@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @using (Html.BeginForm(FormMethod.Get))
    {
        @Html.DropDownList(
            "location",
            ViewBag.ServiceLocations as IEnumerable<SelectListItem>)

        <input type="submit" value="Go" />
    }

</div>
